mixin menu(title, ...items)
    header.header
        img#icon-menu(class="icon icon-show" src=require("../images/icons/icon-menu.svg").default, alt="Icon menu")
        img#icon-cross(class="icon" src=require("../images/icons/icon-cross.svg").default, alt="Icon menu")
        ul.menu
            li.menu__item--selected
                a(href="#") #{title}
            each item in items
                if item === "Home"
                    li.menu__item
                        a(href='./index.html') #{item}
                else
                    li.menu__item
                        a(href='./'+item.charAt(0).toLowerCase()+item.slice(1)+'.html') #{item}